{
  "rules": {},
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": { 
    "modules": true
  },
  "globals": {
    "describe": true,
    "it": true
  }
}
